$corPrincipal: rgb(249, 249, 249);
$corSecundaria: rgb(44, 14, 67);
$corFonteH3:rgb(251, 255, 146);
$fontePrincipal: Arial;


body {
    background-color: $corPrincipal;
}

header {
    background-color: $corSecundaria;
}
.cabecalho {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 16px;
    background-color: $corSecundaria;
    font-family: $fontePrincipal;
    color: $corFonteH3;
}

a, h3 {
color: $corFonteH3;
font-family: $fontePrincipal;
    &:hover{
        background-color: red;
        color: black;
    }
}
